@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@500&display=swap');
/* font-family: 'Sofia Sans', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about {
    max-width: 100%;
    background-color: whitesmoke;
}

.about_container {
    width: 80%;
    margin: 0 auto;
}

.about_content {
    padding-top: 10rem;
    padding-bottom: 5rem;
}

.about_topic {
    text-align: center;
    margin-bottom: 5rem;
}

.about_topic h1 {
    font-family: 'Roboto', sans-serif;
}

.about_topic p {
    font-family: 'Sofia Sans', sans-serif;
    color: rgb(98, 98, 98);
}

.about_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.about_image_profile {
    justify-self: center;
}

.about_image_profile img{
    width: 300px;
    height: 300px;
    border-radius: 20px;
}

.about_box {
    text-align: center;
    margin-bottom: 1.5rem;
}

.about_education {
    background-color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    border: 1px solid rgb(229, 229, 229);
}

.about_education p {
    font-size: 20px;
    font-family: 'Sofia Sans', sans-serif;
}

.about_description {
    margin-bottom: 2rem;
}

.about_description p {
    font-family: 'Sofia Sans', sans-serif;
    color: rgb(98, 98, 98);
}

.about_icon_education {
    font-size: 40px;
}

.about_btn_download {
    font-family: 'Sofia Sans', sans-serif;
    background-color: black;
    color: white;
    padding: 1rem;
    font-size: 20px;
    text-decoration: none;
    border-radius: 5px;
}

@media screen and (max-width:992px) {
    .about_topic h1{
        font-size: 25px;
    }

    .about_image_profile img{
        width: 200px;
        height: 200px;
    }

    .about_icon_education {
        font-size: 30px;
    }

    .about_education p {
        font-size: 16px;
    }

    .about_box {
        margin-bottom: 0.5rem;
    }

    .about_description {
        margin-bottom: 1.5rem;
    }

    .about_btn_download {
        padding: 0.5rem;
        font-size: 16px;
    }
}

@media screen and (max-width:768px) {
    .about_topic {
        margin-bottom: 3rem;
    }
    .about_grid {
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }

    .about_description,
    .about_download {
        text-align: center;
    }
}