@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@500&display=swap');
/* font-family: 'Sofia Sans', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    max-width: 100%;
    background-color: whitesmoke;
}

.container {
    width: 80%;
    margin: 0 auto;
    
}

.grid_content {
    display: grid;
    grid-template-columns: 200px repeat(2, 1fr);
    align-items: center;
    padding-top: 15rem;
}

.social {
    display: grid;
    grid-template-columns: max-content;
    row-gap: 1rem;
}

.image_profile {
    background-image: url('https://reactjs.org/logo-og.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    order: 1;
    justify-self: center;
}

.name {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.name h1 {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
}

.description p {
    font-family: 'Sofia Sans', sans-serif;
    color: rgb(98, 98, 98);
}

.btn {
    margin-top: 20px;
}

.btn_hello {
    background-color: black;
    padding: 20px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    color: white;
    align-items: center;
    text-decoration: none;
    display: inline-flex;
}

.typing {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 25px;
    font-weight: bold;
}

.scrolldown {
    margin-top: 5rem;
    justify-content: space-between;
    cursor: pointer;
    padding-bottom: 5rem;
}

.icon_scrolldown {
    font-size: 30px;
    animation: scrolling 3s infinite;
    position: relative;
}

.text_scrolldown {
    font-size: 30px;
    margin-left: 10px;
    font-family: 'Sofia Sans', sans-serif;
}

@keyframes scrolling {
    0% {
        top: 0;
    }

    50% {
        top: 10px;
    }

    100% {
        top: 0px;
    }
}

@media screen and (max-width:992px) {
    .image_profile {
        width: 200px;
        height: 200px;
    }

    .name h1 {
        font-size: 25px;
    }

    .btn_hello {
        font-size: 20px;
        padding: 15px;
    }

    .scrolldown {
        display: none;
    }
}

@media screen and (max-width:768px) {
    .grid_content {
        grid-template-columns: 0.5fr 3fr;
        padding-top: 3.5rem;
    }

    .image_profile {
        order: initial;
        justify-self: initial;
    }

    .explain {
        grid-column: 1/3;
    }
}

@media screen and (max-width:376px) {
    .image_profile {
        width: 200px;
        height: 200px;
    }

    .name {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .name h1 {
        font-size: 20px;
    }

    .typing {
        font-size: 20px;
        margin-top: 5px;
        color: rgb(56, 56, 56);
    }

    .btn_hello {
        font-size: 15px;
        padding: 10px;
    }
}