@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@500&display=swap');
/* font-family: 'Sofia Sans', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact {
    max-width: 100%;
    background-color: whitesmoke;
}

.contact_container {
    width: 80%;
    margin: 0 auto;
}

.contact_content {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.contact_topic {
    text-align: center;
    margin-bottom: 5rem;
}

.contact_topic h1 {
    font-family: 'Roboto', sans-serif;
}

.contact_topic p {
    font-family: 'Sofia Sans', sans-serif;
    color: rgb(98, 98, 98);
}

.contact_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    grid-gap: 2rem;
}

.contact_grid_info {
    justify-self: flex-end;
    max-width: 100%;
}

.contact_grid_info h3 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2rem;
}

.contact_info {
    background-color: white;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 1rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    padding-left: 10rem;
    padding-right: 10rem;
}

.contact_info_icon {
    font-size: 40px;
}

.contact_info a, p {
    font-family: 'Sofia Sans', sans-serif;
    text-decoration: none;
    color: rgb(98, 98, 98);
}

.contact_grid_form {
    justify-self: flex-start;
    width: 400px;
}

.contact_grid_form h3 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 2rem;
}

.contact_form {
    position: relative;
    margin-bottom: 1rem;
    height: 4rem;
}

.contact_form_input {
    justify-content: center;
    max-width: 100%;
}

.contact_form_input_name,
.contact_form_input_email,
.contact_form_input_description {
    top: 0;
    left: 0;
    border: 2px solid rgb(0, 0, 0, 0.33);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    outline: none;
    padding: 1.5rem;
    position: absolute;
    z-index: 1;
    background:none;
}

.contact_form label {
    position: absolute;
    top: -0.65rem;
    left: 1rem;
    z-index: 99;
    background-color: whitesmoke;
    font-family: 'Sofia Sans', sans-serif;
    font-size: 20px;
}

.contact_form_input_description {
    height: 8rem;
}

.contact_form_input_description {
    resize: none;
}

.contact_form_btn {
    margin-top: 5rem;
}

.contact_form_btn_send {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 1rem;
    font-size: 15px;
}

@media screen and (max-width:992px) {
    .contact_topic h1 {
        font-size: 25px;
    }

    .contact_grid {
        grid-template-columns: 1fr;
    }

    .contact_grid_info,
    .contact_grid_form {
        justify-self: center;
    }

    .contact_grid_form {
        justify-self: center;
        width: 100%;
    }

    .contact_grid_input {
        justify-self: center;
    }

}

@media screen and (max-width:768px) {
    .contact_info {
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .contact_form_input {
        z-index: -2;
    }

}